.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 15% !important;
}
.dataTable > thead > tr > th[class*="sort"]:before,
.dataTable > thead > tr > th[class*="sort"]:after {
  content: "" !important;
}
.dataTables_processing {
  z-index: 100;
}
.u-xs-avatar {
  width: 1.20312rem;
  height: 1.20312rem;
}

  .nft-block {
            position: relative;
            height: 180px;
            max-width: 180px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            text-align: center;
            transition: all .2s;
            border-radius: 0.35rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.75rem;
        }

        .nft-block-xl {
            height: auto;
            min-height: 400px;
            max-width: 650px;
        }

        .nft-block-edn {
            font-size: 1rem;
            padding: 0.75rem;
            color: #fff;
            background-color: #598df6;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
        }

        .nft-block-edn--light {
            background-color: rgba(89,141,246,.6);
            font-style: italic;
        }

        .nft-block-empty {
            background-color: rgba(119,131,143,.1);
        }

        .nft-block-xl.nft-block-edn, .nft-block-xl.nft-block-empty {
            width: 100%;
            max-width: 100%;
            min-height: 450px;
        }

        .nft-block-xl.nft-block-edn, .nft-block-xl.nft-block-empty {
            width: 100%;
            max-width: 100%;
            min-height: 450px;
        }

        .nft-block-img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.35rem;
        }

        .nft-block-text {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

         .autolink-safari a {
            pointer-events: none !important;
            text-decoration: none !important;
            color: inherit !important;
        }
 .d6tczzmyvyv { -ms-flex-pack: center; justify-content: center; } .ash6hiqnwil { border-top: 1px solid #e7eaf3 !important; } body.dark-mode .ash6hiqnwil { border-color: #18365b !important; } @media (min-width: 992px) { .bi1dyzkqlyx { display: block !important; } } @media (min-width: 992px) { .cmigcamhwd2 { display: inline-block !important; } }  
